<header>
   <nav class="navber navber-inverse navber-static-top">
      <div class="container">
         <div class="navber-header">
            <button type="button" class="navber-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navber-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navber-brand" herf="/">MeesageBoard</a>
         </div>
         <div class="collapse navber-collapse" id="bs-example-navber-collapse-1">
            <ul class="nav navber-nav navber-right">
               <li><%= link_to  '新規タスクの投稿', new_task_path %></li>
            </ul>
         </div>
      </div>
   </nav>
</header>